@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.navBar {
    background: rgb(7, 3, 71);
    background: linear-gradient(90deg, rgba(7, 3, 71, 1) 0%, rgba(24, 24, 147, 1) 35%, rgba(0, 148, 255, 1) 100%);
}

.navBar a {
    color: aliceblue;
}

.activo {
    border-bottom: 2px linear-gradient(to right, orange, red);
}

.dropToggle a {
    color: black;
}

.dropToggle a:hover {
    background-color: rgb(33, 79, 231);
    color: aliceblue;
}

/* Estilos base de los enlaces */
.ulBot a, button {
    text-decoration: none;
    color: aliceblue;
    padding: 5px 10px;
    position: relative;
}

.ulBot a, button:hover {
    color: aliceblue;
}

/* Estilo de la línea de progresión */
.ulBot a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, orange, red);
    /* Cambia los colores aquí */
    transition: width 0.3s ease;
}

/* Efecto de línea de progresión al hacer hover */
.ulBot a:hover::before {
    width: 100%;
}

/* Estilo de la línea de progresión cuando el enlace está activo */
.ulBot a:active::before {
    width: 100%;
}

.status-danger {
    position: fixed;
    bottom: 0;
}
.premium {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.botonEdit {
    background: none;
    border: none;
}

.botonEdit i {
    color: blue;
}

.botonDelete {
    background: none;
    border: none;
}

.botonDelete i {
    color: red;
}

.backgroundModals {
    background: rgb(7, 3, 71);
    background: linear-gradient(90deg, rgba(7, 3, 71, 1) 0%, rgba(24, 24, 147, 1) 35%, rgba(0, 148, 255, 1) 100%);
}

.backgroundModals h2 {
    color: aliceblue;
}

.dashPanel {
    border-radius: 5px;
}

.total {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding-top: 10px;
}

.caja p, .contador {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.dashPanel i {
    font-size: 50px;
    color: rgb(7, 3, 71);
    ;
}

.tablaHistorial {
    overflow-y: scroll;
    height: 450px;
}



.custum-file-upload {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
    display: none;
}

.sesionWelcome {
    position: absolute;
    bottom: 10px;
}

.factura {
    border-radius: 5px;
}

.modoOscuro {
    background-color: #000;
    color: aliceblue;
}

.modoClaro {
    @apply bg-white text-black;
    /* Aplica estilos de Tailwind CSS */
}


/* Estilos para el modo oscuro */
.modoOscuro {
    @apply bg-black text-white;
    /* Aplica estilos de Tailwind CSS */
}
#btn {
    display: none;
}
.btnSesionNone {
    display: none;
}
.btnBlock {
    display: block;
}
.logoProlinkoLogin {
    width: 70px;
}
@media (max-width: 650px) {
    .fondoNoneLogin{
        display: none;
    }
    .logoProlinkoLogin {
        width: 50px;
    }
    .paraResponsive {
        display: none;
    }
}